@charset "UTF-8";

@black: #000000;
@box: #000000b0;
@pink: #eb44a5;
@border: #44e0eb;
@tablebg: #8a005e;
@font: #fff;
@yellow: #F4CE00;


.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px groove @pink;
    // background-color: @green;
    box-shadow: .10em .25em .75em @pink;
}
.altbox {
    border: 2px groove @border;
    box-shadow: .10em .25em .75em @border;
}
.boxalt {
        border: 2px groove @yellow;
    box-shadow: .10em .25em .75em @yellow;
}
table, tr, th, td {
    border: 3px double @border;
    text-align: center;
    color: @font;
    // width: 85%;
    padding: 1em;
    margin: 1em;
}
table {
    tr {
        td {
            img {
                max-width: 200px;
            }
        }
    }
}

a {
    color: @font;
    text-decoration: none;
}

body {
    .flexcolumn();
    background-color: @black;
    color: @pink;
    width: 95%;
    // background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
    background-image: url("https://images.craftsnherbs.com/backgrounds/hex3.png");
    background-blend-mode: lighten;

    header {
        .flexrow();
        width: 85%;
        justify-content: space-between;
        .box();
        background-color: @box;
        margin: .1em .5em 1em;
        padding: .2em 1em;

        pre {
            background-color: @box;
        }

        nav {
            .flexrow();
            padding: .5em;
            margin: .5em;
            width: 50%;
            justify-content: space-evenly;
        }
    }
    main {
        .flexcolumn();
        width: 85%;
        background-color: @box;
        margin: .1em .5em 1em;
        padding: .2em 1em;

        .lg {
            .box();
            background-color: @black;
            font-size: 3em;
            color: @pink;
            margin: 2em 1em 1em;
            padding: 1em;
        }

        .row {
            .flexrow();
            flex-wrap: wrap;
            width: 100%;

            form {
                .flexcolumn();
                margin: 1em;
                padding: 1em;
                width: 30vw;
                

                section {
                    .flexrow();
                    padding: 1em;
                    margin: .5em;
                    width: 25vw;
                    justify-content: space-between
                }
                button {
                    .altbox();
                    font-size: 1.5em;
                }
            }

            .column {
                .flexcolumn();
                border: 1px @border solid;
                padding: 1em;
                margin: 1em;

                img {
                    max-width: 250px;
                }
            }
        }
    }
    footer {
        .flexcolumn();
        width: 85%;
        background-color: @box;
                margin: .1em .5em 1em;
        padding: .2em 1em;

        img {
            width: 15vw;
        }
    }
}