@charset "UTF-8";
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  border: 2px groove #eb44a5;
  box-shadow: 0.1em 0.25em 0.75em #eb44a5;
}
.altbox {
  border: 2px groove #44e0eb;
  box-shadow: 0.1em 0.25em 0.75em #44e0eb;
}
.boxalt {
  border: 2px groove #F4CE00;
  box-shadow: 0.1em 0.25em 0.75em #F4CE00;
}
table,
tr,
th,
td {
  border: 3px double #44e0eb;
  text-align: center;
  color: #fff;
  padding: 1em;
  margin: 1em;
}
table tr td img {
  max-width: 200px;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #eb44a5;
  width: 95%;
  background-image: url("https://images.craftsnherbs.com/backgrounds/hex3.png");
  background-blend-mode: lighten;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  border: 2px groove #eb44a5;
  box-shadow: 0.1em 0.25em 0.75em #eb44a5;
  background-color: #000000b0;
  margin: 0.1em 0.5em 1em;
  padding: 0.2em 1em;
}
body header pre {
  background-color: #000000b0;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
  width: 50%;
  justify-content: space-evenly;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: #000000b0;
  margin: 0.1em 0.5em 1em;
  padding: 0.2em 1em;
}
body main .lg {
  border: 2px groove #eb44a5;
  box-shadow: 0.1em 0.25em 0.75em #eb44a5;
  background-color: #000000;
  font-size: 3em;
  color: #eb44a5;
  margin: 2em 1em 1em;
  padding: 1em;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  width: 30vw;
}
body main .row form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0.5em;
  width: 25vw;
  justify-content: space-between;
}
body main .row form button {
  border: 2px groove #44e0eb;
  box-shadow: 0.1em 0.25em 0.75em #44e0eb;
  font-size: 1.5em;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px #44e0eb solid;
  padding: 1em;
  margin: 1em;
}
body main .row .column img {
  max-width: 250px;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: #000000b0;
  margin: 0.1em 0.5em 1em;
  padding: 0.2em 1em;
}
body footer img {
  width: 15vw;
}
