@charset "UTF-8";
a {
  border: 1px solid darkcyan;
  text-decoration: none;
  background-color: #0e3a3a;
  padding: 0.5em;
  color: #fefcfc;
  border-radius: 20%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: bisque;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 1em;
  padding: 1em;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body main .row .column table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
body main .row .column table td img {
  max-width: 200px;
}
body main .row .column table,
body main .row .column tr,
body main .row .column th,
body main .row .column td {
  border: black 2px solid;
  padding: 0.5em;
}
body main form {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body main form section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0.2em;
  margin: 0.2em;
}
body main form section label,
body main form section input,
body main form section textarea {
  margin: 1em;
}
